.ContactUs {
  height: 1126px;
  background-image: linear-gradient(to top, #452368 28%, #ef549e 158%);
  .ContactUsMain{
    width: 90%;
    justify-content: flex-end;
    .ContactUsForm{
      width: 512px;
      height: 680px;
      border-radius: 13px;
      background-color: #fff;
      flex-direction: column;
      align-items: center;
      .ContactUsMainText{
        font-size: 30px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        color: #000;
        margin-top: 46px;
      }
      .ContactUsMainInputs{
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        >div{
          width: 100%;
          margin-top: 20px;
        }
      }
      .ContactUsPreferredMethod{
       width: 80%; 
       .ContactUsPreferredMethodText{
        font-size: 18px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #000;
       }
       >div{
         margin-top: 30px;  
       }
      }
    }
  }
}


@media screen and (max-width:765px){
  .ContactUs{
    justify-content: center;
    .ContactUsMain{
      justify-content: center;
    }
  }
}