.Events{
    display: none;
    width: 80%;
    align-content: flex-start;
    margin-bottom: 20px;
    &.active{
        display: flex;
    }
    .EventsTitle{
        font-size: 25px;
        font-weight: bold;
        color: #000;
        margin-bottom: 50px;
        width: 100%;
        margin-left: 10px;
    }
    .EventItem{
        width: 230px;
        height: 350px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        margin: 10px;
    }
}