.Footer {
    height: 398px;
    background-color: #381a57; 
    .textStart{
        margin-top: 66px;
        font-size: 24px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #fff;
    } 
    .Footer_text{
        margin-top: 17px;
        font-size: 16px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #fff;
    }
    .page-content {
        .page-block {
            margin: 35px;
            ul {
                display: flex;
                flex-direction: row;
                margin: 0 50px;
                &:last-child {
                    margin-right: 0;
                }
                li {
                    margin: 15px;
                    a {
                        font-size: 18px;
                        font-weight: 500;
                        font-stretch: normal;
                        font-style: normal;
                        line-height: normal;
                        letter-spacing: normal;
                        color: #fff;
                        text-transform: uppercase;
                        &:hover {
                            color: #fff;
                        }
                    }
                }
            }
        }
    }
}


// @media screen and (max-width: 1228px){
//   .Footer {
//     .page-content {
//       padding-right: 20px;
//     }
//     &_body {
//       justify-content: space-around !important;
//       .subscribe-block {
//         .social-block {
//           justify-content: center;
//         }
//       }
//       .info-block {
//         li {
//           margin-bottom: 20px;
//         }
//       }
//     }
//   }
// }

// @media screen and (max-width: 685px){
//   .Footer  {
//     &_logo {
//       justify-content: center;
//       display: flex;
//     }
//     .info-block {
//       li {
//         justify-content: center;
//       }
//     }
//     .page-block {
//       ul {
//         margin: 0 30px;
//       }
//     }
//     &_text {
//       justify-content: center !important;
//     }
//   }
// }

// @media screen and (max-width: 530px){
//   .Footer  {
//     .page-block {
//       ul {
//         margin: 0 10px;
//       }
//     }
//     .subscribe-block {
//       .TextFieldComponent {
//         .TextField {
//           height: 45px;
//         }
//         .Button {
//           height: 45px;
//           font-size: 13px;
//         }
//       }
//     }
//   }
// }
