@import '../../../variables.scss';

.Button {
    border: none;
    outline: none;
    color: white;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    transition: all .2s linear;
    &.green {
      background-color: $secondary-green;
      &:hover {
        background-color: $secondary-orange;
      }
    }
    &.orange {
      background-color: $secondary-orange;
      &:hover {
        background-color: $secondary-green;
      }
    }
    &.small {
        font-size: $small-font-size;
        height: 42px;
        padding: 0 20px;
        border-radius: 42px;
    }
    &.medium {
        font-size: $medium-font-size;
        height: 60px;
        padding: 0 30px;
        border-radius: 42px;
    }
    &.large {
        font-size: $large-font-size;
        height: 64px;
        padding: 0 40px;
        border-radius: 42px;
    }
};
