.PaperKeyboardDatePicker{
    width: 100%;
    display: flex;
    justify-content: space-around;
    >div{
        width: 90%;
        outline: none;
        border: none;
    }
}

.MuiPickersDay-daySelected{
    color: red;
}