@import url('https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i&display=swap');
@import './variables.scss';
* {
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    color: #757575;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

html,body {
    width: 100%;
    height: 100%;
}

#root {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
}

body {
    min-height: 100%;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    &.darkMode {
      background-color: $dark;
    }
}

//Global styles for creating flexible components

.withStretch {
    display: flex;
    flex-grow: 1;
    align-items: flex-start;
}

.image-centering {
    background-size: cover;
    background-position: center center;
    transform: scale(1.03);
}


.flexible {
    display: flex;
    &.horizontal {
        flex-direction: row;
    }
    &.vertical {
        flex-direction: column;
    }
    &.vertical-reverse {
        flex-direction: column-reverse;
    }
    &.jStart {
        justify-content: flex-start;
    }
    &.jEnd {
        justify-content: flex-end;
    }
    &.jCenter {
        justify-content: center;
    }
    &.jAround {
        justify-content: space-around;
    }
    &.jBetween {
        justify-content: space-between;
    }
    &.aStart {
        align-items: flex-start;
    }
    &.aEnd {
        align-items: flex-end;
    }
    &.aCenter {
        align-items: center;
    }
    &.wrap {
        flex-wrap: wrap;
    }
    &.noWrap {
        flex-wrap: nowrap;
    }
    &.grow {
        flex-grow: 1;
    }
    &.noGrow {
        flex-grow: 0;
    }
    &.shrink {
        flex-shrink: 1;
    }
    &.noShrink {
        flex-shrink: 0;
    }
}

.singleLine {
    white-space: nowrap;
}

.truncate-lines-styles {
    display: -webkit-box;
    word-break: break-word;
}

.truncate {
    text-overflow: ellipsis;
    overflow: hidden;
    &.twoLines {
        -webkit-line-clamp: 2;
        @extend .truncate-lines-styles;
        -webkit-box-orient: vertical;
    }
    &.threeLines {
        -webkit-line-clamp: 3;
        @extend .truncate-lines-styles;
        -webkit-box-orient: vertical;
    }
    &.fourLines {
        -webkit-line-clamp: 4;
        @extend .truncate-lines-styles;
        -webkit-box-orient: vertical;
    }
    &.fiveLines {
        -webkit-line-clamp: 5;
        @extend .truncate-lines-styles;
        -webkit-box-orient: vertical;
    }
}

.Spinner {
    width: 70px;
    height: 70px;
    border: 3px solid $main-dark-color;
    border-radius: 100%;
    animation: spinnerAnimate 1s infinite;
    border-top-color:  #fff;
    margin: 3rem auto;
    align-self: center;
  }


  @keyframes spinnerAnimate {
    from { transform: rotate(0) }
    to { transform: rotate(360deg) }
  }