@import './variables.scss';

// Extra large devices (large desktops, 1200px and up)
@media screen and (max-width: 1200px) {

}

// Large devices (desktops, 992px and up)
@media screen and (max-width: 992px) {
  .ImageContent {
    height: 400px;
    .image-block {
      max-height: 90%;
    }
  }
}

// Medium devices (tablets, 768px and up)
@media screen and (max-width: 768px) {
    .ImageContent {
      height: 320px;
      .image-block {
        .before {
          height: 230px;
        }
        .after {
          height: 230px;
        }
      }
    }
}

// Small devices (landscape phones, 576px and up)
@media screen and (max-width: 576px) {
  .ImageContent {
    height: 290px;
    .image-block {
      max-height: 85%;
      .before {
        height: 160px;
        left: calc(50% - 150px);
      }
      .after {
        height: 160px;
        right: calc(50% - 235px);
      }
    }
  }
}
