
.FindTicket{
    width: 80%;
    max-width: 1270px;
    height: 71px;
    border-radius: 35.5px;
    background-color: #fff;
    align-self: center;
    .findTicketButton{
        width: 205px;
        height: 71px;
        border-radius: 0 35.5px 35.5px 0;
        background-image: linear-gradient(105deg, #44ccff -100%, #00caa0 94%);
        font-size: 20px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #fff;
        cursor: pointer;
        outline: none;
        border: none;
    }
    .FindTicketDropdown{
        width: 164px;
        height: 100%;
        border-left: 1px solid; 
        border-right: 1px solid;
        display: flex;
        justify-content: center;
        align-items: center;
        .Dropdown_label{
            color: #000;
        }
    }
    .FindTicketDataPicker{
        flex-grow: 1;
    } 
}
.FindTicketMargin{
    margin-top: 300px;
    z-index: 10;
}


@media screen and (max-width: 900px) {
    .FindTicket{
        flex-direction: column;
        height: auto;
        >div:first{
            width: 100%;
        }
        .findTicketButton{
        }
        .FindTicketDropdown{
            width: 90%;
            padding: 13px;
            border-left: none;
            border-right: none;
            border-bottom: 1px solid #757575;
        }
        .FindTicketDataPicker{
            width: 100%;
            .MuiInput-root{
                padding: 13px;
            }
        }
    }
  }